<div class="task" *transloco="let t; read: 'card'">
  <div class="close-container">
    <div class="task_props">
      <div class="task_priority" appTaskPriority [task]="data.task">
        {{ taskDescription.priority }}
      </div>
      <div class="task_size">{{ taskDescription.size }}</div>
    </div>
    <button mat-raised-button class="form__close" (click)="closeTask()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="task_item task_title">{{ data.task.title }}</div>
  <div class="task_item task_description">{{ taskDescription.description }}</div>
  <div *ngIf="data.task.files">
    <div class="task-file__item" *ngFor="let file of data.task.files; index as i">
      <span class="task-file__name">{{ nameHandler(file.filename) }}</span>
      <a [href]="filesUrl[i]" download="{{ file.filename }}">
        <mat-icon class="task-file__icon">download</mat-icon>
      </a>
    </div>
  </div>
  <div mat-raised-button class="edit_btn" (click)="openTaskForm()">{{ t('editBtn') }}</div>
</div>
