@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.auth {
  display: flex;
  height: 100vh;

  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    justify-content: space-between;
    background-color: $background-dark;
    padding: $padding-x;
  }

  &_heading {
    font-size: $heading-fontSize;
    text-align: center;
    font-weight: bold;
  }

  &_img {
    display: block;
    height: 75%;
  }
}
