<div class="form-wrapper">
  <form class="form" [formGroup]="loginForm">
    <mat-form-field appearance="outline" class="form_field">
      <mat-label>Login</mat-label>
      <input
        matInput
        placeholder="Enter your login (email)"
        class="input"
        formControlName="login"
      />
      <mat-error>{{ getLoginErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form_field">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter your password"
        class="input"
        formControlName="password"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
  </form>
  <div class="action-btns">
    <button
      class="btn login_btn"
      mat-raised-button
      color="primary"
      (click)="navigate('/boards')"
      [disabled]="disableBtn()"
    >
      Login
    </button>
    <a class="btn reg_btn" mat-button routerLink="/auth/registration">SignUp</a>
  </div>
</div>
