<footer class="footer">
  <a href="https://rs.school/angular/" target="_blank"
    ><img src="../../../../assets/rs_school_js.svg" alt="RS School"
  /></a>
  <div class="gh_list">
    <a href="https://github.com/PavelKizhlo" target="_blank" class="list_item"
      ><img src="../../../../assets/gh_logo.svg" class="gh_logo" /><span>@PavelKizhlo</span></a
    >
    <a href="https://github.com/vzakharenkova" target="_blank" class="list_item"
      ><img src="../../../../assets/gh_logo.svg" class="gh_logo" /><span>@vzakharenkova</span></a
    >
    <a href="https://github.com/rybakN" target="_blank" class="list_item"
      ><img src="../../../../assets/gh_logo.svg" class="gh_logo" /><span>@rybakN</span></a
    >
  </div>
  <div class="year">
    <mat-icon class="year_icon">copyright</mat-icon>
    <span class="year_text">{{ currentYear }}</span>
  </div>
</footer>
