<header class="header" [ngStyle]="isScrolled ? { height: '100px' } : {}">
  <div class="header-left">
    <a class="logo" routerLink="/boards"><img src="../../../../assets/cat.svg" /></a>
    <div class="lang">
      <span class="lang_en">EN</span>
      <span class="slash">|</span>
      <span class="lang_ru">RU</span>
    </div>
  </div>
  <div class="header-right">
    <button mat-raised-button class="create_btn">Create new board</button>
    <mat-icon class="settings">settings</mat-icon>
    <mat-icon class="logout">exit_to_app</mat-icon>
  </div>
</header>
