@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.header {
  height: $header-height;
  background-color: $background-dark;
  display: flex;
  justify-content: space-between;
  padding: 0 $padding-x;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: $hover-transition;

  &-left {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 2rem;
      cursor: pointer;
    }
    .lang {
      font-size: 1.5rem;
      font-weight: bold;
      color: $white;

      .slash {
        margin: 0 0.5rem;
      }

      &_en,
      &_ru {
        cursor: pointer;
        transition: $hover-transition;

        &:hover {
          @include hover-text;
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    .settings {
      margin: 0 1rem;
    }

    .settings,
    .logout {
      height: fit-content;
      width: fit-content;
      font-size: 2.5rem;
      color: $btn-yellow;
      transition: $hover-transition;
      cursor: pointer;

      &:hover {
        @include hover-text;
      }
    }

    .create_btn {
      background-color: $btn-yellow;
      font-family: inherit;
      font-size: larger;
      color: $white;
      padding: 0.2rem 0.8rem;

      &:hover {
        @include hover-element;
      }
    }
  }
}
