<header
  class="header"
  [ngStyle]="isScrolled ? { height: '100px' } : {}"
  *transloco="let t; read: 'header'"
>
  <div class="header-left">
    <a class="logo" routerLink="/boards"><img src="../../../../assets/cat.svg" alt="logo" /></a>
    <app-lang-toggler color="white"></app-lang-toggler>
  </div>
  <div class="header-right">
    <button mat-raised-button class="create_btn btn" (click)="openFormCreateBoard()">
      {{ t('createNewBoardBtn') }}
    </button>
    <a mat-raised-button routerLink="/edit" class="btn"
      ><mat-icon class="settings">settings</mat-icon></a
    >
    <a mat-raised-button class="btn" (click)="logout()"
      ><mat-icon class="logout">exit_to_app</mat-icon></a
    >
  </div>
</header>
