// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import 'app/shared/styles/variables';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-management-app-primary: mat.define-palette(mat.$indigo-palette);
$project-management-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-management-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-management-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $project-management-app-primary,
      accent: $project-management-app-accent,
      warn: $project-management-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($project-management-app-theme);

html * {
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: unset;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.low {
  color: $color-low;
  background-color: $background-low;
}

.medium {
  color: $color-medium;
  background-color: $background-medium;
}

.high {
  color: $color-height;
  background-color: $background-height;
}

.urgent {
  color: $color-urgent;
  background-color: $background-urgent;
}

html,
body {
  height: 100%;
}

.mat-icon {
  height: 1.8rem !important;
  width: 1.8rem !important;
}

.material-icons {
  font-size: 1.8rem !important;
}

@media (min-width: 3500px) {
  html {
    font-size: 45px;
  }
}
