@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import 'src/app/shared/shared.scss';

html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: unset;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.low {
  color: $color-low;
  background-color: $background-low;
}

.medium {
  color: $color-medium;
  background-color: $background-medium;
}

.heigh {
  color: $color-heigh;
  background-color: $background-heigh;
}

.urgent {
  color: $color-urgent;
  background-color: $background-urgent;
}
