<main class="page" cdkDropListGroup>
  <div class="page_heading">
    <div class="page_title">
      <a routerLink="/boards"><h2 class="common_title">Boards</h2></a>
      <span class="arrow">&#8212;</span>
      <h3 class="board_title">{{ board.title }}</h3>
    </div>
    <button mat-raised-button class="create_btn">Create a column</button>
  </div>
  <div
    class="board-columns"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <app-board-column
      cdkDragLockAxis="x"
      *ngFor="let column of board.columns"
      [column]="column"
      [board]="board"
      cdkDrag
    ></app-board-column>
  </div>
</main>
