@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.page {
  min-height: $main_content_height;
  padding: 0 $padding-x;
  padding-bottom: 1.5rem;
  background-color: $background-light;
  overflow-x: auto;
  width: 100vw;

  &_heading {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;

    .page_title {
      display: flex;
      align-items: baseline;
      font-weight: bold;

      .common_title {
        font-size: $heading-fontSize;
        transition: $hover-transition;

        &:hover {
          @include hover-text;
        }
      }

      .arrow {
        height: fit-content;
        width: fit-content;
        font-size: 2rem;
        padding: 0 0.5rem;
      }

      .board_title {
        font-size: $subheading-fontSize;
      }
    }

    .create_btn {
      background-color: $btn_purple;
      color: $white;
      font-family: inherit;
      height: $btn-height;
      font-size: $btn-fontSize;

      &:hover {
        @include hover-element;
      }
    }
  }

  .board-columns {
    display: inline-flex;
    column-gap: 2rem;
    overflow-x: auto;
    width: 100%;
    height: fit-content;
    white-space: nowrap;
  }
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $btn_purple;
  border-radius: 10px;
}
