<div class="workspace-layout">
  <app-header></app-header>


  <mat-drawer-container class="container-outer" hasBackdrop="true">
    <mat-drawer
      #drawer
      class="sidenav-container"
      mode="push"
      position="end"
    >
      <app-sidenav></app-sidenav>
    </mat-drawer>

    <mat-drawer-content class="container-inner">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>
    </mat-drawer-content>

  </mat-drawer-container>

</div>
