.workspace-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  &-outer {
    flex-grow: 1;
  }

  &-inner {
    display: flex;
    flex-direction: column;
  }
}

.sidenav {
  width: 70%;
  padding: 20px;
}

.main-content {
  flex-grow: 1;
}


