<mat-card class="column">
  <div class="column_heading">
    <input
      [(ngModel)]="title"
      class="column_title"
      (dblclick)="editColumnTitle($event.target)"
      (blur)="editColumnTitle($event.target)"
      readonly
    />
    <div class="column_actions">
      <button mat-raised-button class="add_btn" (click)="openTaskForm()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button class="delete_btn" (click)="openConfirmationDialog($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="column_tasks">
    <app-task-card
      *ngFor="let task of column.tasks"
      [task]="task"
      [column]="column"
    ></app-task-card>
  </div>
</mat-card>
