@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.column {
  background-color: $white;
  border-radius: $card-dorder-radius;
  padding: $card_padding-x;
  font-family: inherit;
  cursor: grab;
  margin-bottom: 1rem;
  width: 25rem;

  &_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $subheading-fontSize;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &_actions {
    display: flex;

    .delete_btn {
      @include delete-btn;

      &:hover {
        @include hover-element;
      }
    }

    .add_btn {
      @include add-btn;
      margin-right: 1rem;

      &:hover {
        @include hover-element;
      }
    }

    .mat-raised-button {
      min-width: unset;
      line-height: 0;
    }
  }

  &_tasks {
    display: grid;
    grid-auto-rows: 10rem;
    row-gap: 1rem;
  }

  &:hover {
    @include hover-element;
  }
}
