<mat-card class="column">
  <div class="column_heading">
    <div class="column_title" [ngClass]="titleInput.readOnly ? 'readonly' : ''">
      <input
        #titleInput
        (input)="changeTitle(titleInput)"
        [value]="title | cut: 16"
        class="column_title-input"
        (dblclick)="openEditColumnTitle(titleInput)"
        readonly
      />
      <mat-icon *ngIf="!titleInput.readOnly" (click)="closeEditColumnTitle(titleInput)"
        >done</mat-icon
      >
      <mat-icon *ngIf="!titleInput.readOnly" (click)="closeWithoutEditing(titleInput)"
        >close</mat-icon
      >
    </div>
    <div class="column_actions">
      <button mat-raised-button class="add_btn" (click)="openTaskForm()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button class="delete_btn" (click)="openConfirmationDialog($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="column_tasks"
    cdkDropList
    id="{{ column.id }}"
    [cdkDropListData]="column.tasks"
    [cdkDropListConnectedTo]="columnsId"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="column.tasks && column.tasks.length">
      <app-task-card
        *ngFor="let task of column.tasks | filter: filterTerm"
        [task]="task"
        [column]="column"
        [boardId]="board.id"
        cdkDrag
      ></app-task-card>
    </ng-container>
  </div>
</mat-card>
