@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.column {
  background-color: $white;
  border-radius: $card-border-radius;
  padding: $card_padding-x;
  cursor: grab;
  margin-bottom: 1rem;
  width: 25rem;

  &_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
  }

  &_title {
    font-size: $subheading-fontSize;
    font-weight: bold;
    &:read-only {
      border: none;
      outline: none;
      cursor: pointer;
    }
    &:not(:read-only) {
      outline: none;
      border: 0.1rem solid $btn_purple;
      padding: 0 0.5rem;
      border-radius: $card-border-radius;
    }
  }

  &_actions {
    display: flex;

    .delete_btn {
      @include delete-btn;

      &:hover {
        @include hover-element;
      }
    }

    .add_btn {
      @include add-btn;
      margin-right: 1rem;

      &:hover {
        @include hover-element;
      }
    }

    .mat-raised-button {
      min-width: unset;
      line-height: 0;
    }
  }

  &_tasks {
    display: grid;
    grid-auto-rows: 10rem;
    row-gap: 1rem;
    max-height: 50rem;
    overflow-y: auto;
    padding: calc($card_padding-x / 2);
  }

  &:hover {
    @include hover-element;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $btn_purple;
  border-radius: 0.6rem;
}
