<div class="page">
  <div class="page_btns">
    <button mat-raised-button color="primary">Log in</button
    ><button mat-raised-button color="primary">Sign up</button>
  </div>
  <div class="page_content">
    <div class="description">
      An application that will help teams solve work tasks efficiently. <br />
      It will help organize the work so that everyone knows what to do. <br />Track the progress of
      tasks, be aware of what is happening. <br />Correctly plan the timing and scope of work.
    </div>
    <img class="img" src="../../../../assets/welcom_2.svg" />
  </div>
  <mat-icon class="prev" (click)="changePageNumber(prevPage)">navigate_before</mat-icon>
</div>
