@import 'variables';

@mixin nav-arrow {
  position: absolute;
  cursor: pointer;
  bottom: 5%;
  font-size: 4rem !important;
  height: fit-content !important;
  width: fit-content !important;
  color: $white;

  &:hover {
    animation: none;
  }
}

@mixin next-page {
  @include nav-arrow();
  right: 4rem;
  animation: next 1.5s infinite linear;
}

@mixin prev-page {
  @include nav-arrow();
  left: 4rem;
  animation: prev 1.5s infinite linear;
}

@mixin action-btn {
  display: flex;
  border-radius: $card-border-radius;
  padding: 0.4rem;
  height: fit-content;
  cursor: pointer;
}

@mixin delete-btn {
  @include action-btn();
  background-color: $background-delete;
  color: $red;
}

@mixin add-btn {
  @include action-btn();
  background-color: $background-add;
  color: $heading-purple;
}

@mixin purple-btn {
  font-family: inherit;
  height: $btn-height;
  font-size: $btn-fontSize;
  background-color: $btn_purple;
  color: $white;
}

@mixin hover-element {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

@mixin hover-text {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

@mixin medium-screen {
  @media (max-width: 960px) {
    @content
  }
}

@mixin xSmall-screen {
  @media (max-width: 565px) {
    @content
  }
}
