$background-dark: #7d90e8;
$background-light: #eef0fc;
$background-delete: #fff0f0;
$background-add: #c6cff9;
$background-low: #f0fff9;
$background-urgent: #fec3c5;
$background-medium: #feefcd;
$background-height: #ffb3f7;
$color-low: #00c271;
$color-urgent: #fb464a;
$color-height: #eb02b8;
$color-medium: #fbbe37;
$white: #ffff;
$red: #b80020;
$btn_purple: #3754db;
$btn-yellow: #fbb416;
$heading-purple: #101c56;
$background-form-elements: #f6f8fd;

$header-height: 6.5rem;
$footer-height: 5.5rem;
$btn-height: 2.8rem;
$padding-x: 3rem;
$padding-x-xSmall: 1.3rem;
$card_padding-x: 1rem;
$card-border-radius: 0.8rem;

$heading-fontSize: 2.7rem;
$subheading-fontSize: 2rem;
$btn-fontSize: 1rem;

$hover-transition: all 0.3s;

@keyframes next {
  0% {
    right: 6rem;
    opacity: 0;
  }
  50% {
    right: 4rem;
    opacity: 0.5;
  }
  100% {
    right: 2rem;
    opacity: 1;
  }
}

@keyframes prev {
  0% {
    left: 6rem;
    opacity: 0;
  }
  50% {
    left: 4rem;
    opacity: 0.5;
  }
  100% {
    left: 2rem;
    opacity: 1;
  }
}
