@import '../../shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-container {
  display: flex;
  justify-content: right;
}

.form__close {
  min-width: fit-content;
  line-height: 0;
  border-radius: 100%;
  padding: 0.3rem;
  cursor: pointer;

  &:hover {
    @include hover-element;
  }
}

.form__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form_field {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.select-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.form__btn {
  @include purple-btn;
  width: fit-content;
}

.task-file {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.task-file__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  border: $background-light dashed 2px;
}

.task-file__input {
  display: none;
}

.task-file__upload {
  margin-bottom: 1rem;
}

.active {
  border: greenyellow dashed 2px;
}

@media screen and (max-width: 680px) {
  .select-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form__selector {
    width: 100%;
  }
}
