@import "../../shared/styles/variables";
@import "src/app/shared/styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-container {
  display: flex;
  justify-content: right;
}

.form__close {
  background-color: $background-form-elements;
  border-radius: 50%;
  cursor: pointer;
}

.form__title {
  font-size: 2rem;
}

.form_field {
  width: 100%;
}

.select-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.form__btn {
  @include purple-btn;
  width: fit-content;
}

@media screen and (max-width: 680px) {
  .select-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form__selector {
    width: 100%;
  }
}
