@import '../../shared/styles/variables';

.page {
  height: 100%;
  padding: 0 $padding-x;
  background-color: $background-light;

  &_title {
    padding: 2rem 0;
    font-size: $heading-fontSize;
    font-weight: bold;
  }

  .board-card_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
