@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.page {
  height: 100%;
  padding: 0 $padding-x;
  background-color: $background-light;

  &_title {
    padding: 2rem 0;
    font-size: $heading-fontSize;
    font-weight: bold;
  }

  .board-card_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;

    @include medium-screen {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xSmall-screen {
      grid-template-columns: 1fr;
    }
  }
}
