@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.page {
  height: 100vh;
  padding-top: 5vh;

  @include medium-screen {
    padding: 2rem;
  }

  &_title {
    background: url(../../../../assets/title_strings.svg) no-repeat;
    height: 8rem;
    width: fit-content;
    text-align: center;
    padding: 4rem 8rem 6rem 6rem;
    margin: 0 auto;
    color: $white;
    font-size: $heading-fontSize;

    @include medium-screen {
      height: auto;
      margin-bottom: 1rem;
      padding: 2.4rem 5rem;
    }

    @include xSmall-screen {
      margin-bottom: 0;
      padding: 2.4rem 4rem 0;
      font-size: $subheading-fontSize;
    }
  }

  &_img {
    display: block;
    margin: 0 auto;
    height: 65vh;

    @include medium-screen {
      width: 100%;
    }
  }

  .next {
    @include next-page;

    &-link {
      @include large-screen {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: 2rem;
      }
    }
  }
}
