@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.page {
  background-color: $background-dark;
  height: $height-fullScreen;
  padding-top: 5vh;

  &_title {
    background: url(../../../../assets/title_strings.svg) no-repeat;
    height: 8rem;
    width: fit-content;
    text-align: center;
    padding: 4rem 8rem 6rem 6rem;
    margin: 0 auto;
    color: $white;
    font-size: $heading-fontSize;
  }

  &_img {
    display: block;
    margin: 0 auto;
    height: 65vh;
  }

  .next {
    @include next-page;
  }
}
