@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background-light;
  padding: $card_padding-x;
  border-radius: $card-border-radius;
  height: 100%;
  font-family: inherit;
  cursor: grab;

  &_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .delete_btn {
      border-radius: 100%;
      display: flex;
      align-items: center;
      background-color: $white;
      padding: 0.3rem;
      cursor: pointer;

      &:hover {
        @include hover-element;
      }
    }
    .mat-raised-button {
      min-width: unset;
      line-height: 0;
    }
  }

  &_props {
    display: flex;

    @include xSmall-screen {
      flex-direction: column;
      gap: 0.3rem;
    }
  }

  &_priority,
  &_size {
    padding: 0.2rem 0.7rem;
    border-radius: 1rem;
  }

  &_size {
    background-color: $white;
    margin-left: 1rem;
    border: solid 0.05rem black;

    @include xSmall-screen {
      margin-left: 0;
    }
  }

  &_title {
    font-weight: bold;
  }

  .edit_btn {
    color: $btn_purple;
    font-weight: bold;
    transition: $hover-transition;
    cursor: pointer;

    &:hover {
      @include hover-text;
    }
  }

  &:hover {
    @include hover-element;
  }
}
