<mat-card class="task">
  <div class="task_heading">
    <div class="task_props">
      <div class="task_priority" appTaskPriority [task]="task">{{ task.priority }}</div>
      <div class="task_size">{{ task.size }}</div>
    </div>
    <button mat-raised-button class="delete_btn" (click)="openDialog($event)">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="task_title">{{ task.title }}</div>
  <div mat-raised-button class="edit_btn" (click)="openTaskForm()">Edit Task</div>
</mat-card>
