@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.page {
  background-color: $background-dark;
  height: $height-fullScreen;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;

  &_title {
    height: 8rem;
    width: fit-content;
    margin: 0 auto;
    color: $white;
    font-size: $heading-fontSize;
  }

  .team {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
  }

  .next {
    @include next-page;
  }

  .prev {
    @include prev-page;
  }
}
