@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.page {
  height: 100vh;
  padding: 7rem 5rem;

  @include large-screen {
    height: auto;
  }

  @include small-screen {
    padding: 4rem 3rem;
  }

  @include xSmall-screen {
    padding: 3rem;
  }

  &_container {

  }

  &_title {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: $white;
    font-size: $heading-fontSize;

    @include xSmall-screen {
      font-size: $subheading-fontSize;
    }
  }

  .team {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;

    @include large-screen {
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 1rem;
    }

    @include xSmall-screen {
      margin-top: 2rem;
    }
  }

  .link-block {
    @include large-screen {
      display: flex;
      justify-content: space-between;
    }
  }

  .next {
    @include next-page;
  }

  .prev {
    @include prev-page;
  }
}
